<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <title>header</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/static/css/uniform.css" />
  <link rel="stylesheet" href="/static/css/select2.css" />
  <link rel="stylesheet" href="/static/css/matrix-style.css" />
  <link rel="stylesheet" href="/static/css/matrix-media.css" />
  <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="headerPart" th:fragment="header">
  <!--Header-part-->
  <div >
    <img src="/static/assets/images/logo/logo.png" style="margin-left: 13px;margin-top: 22px;height: 64px;">
    <h1 style="display: inline;vertical-align: middle;"><a href="#">HUIJIA</a></h1>
  </div>
  <!--close-Header-part-->

  <!--top-Header-menu-->
  <div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
      <li  class="dropdown" id="profile-messages" >
        <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎<shiro:principal property="userName" /></span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-user"></i> 我的资料</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
          <li class="divider"></li>
          <li><a href="/common/loginOut"><i class="icon-key"></i> 退出</a></li>
        </ul>
      </li>
      <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
      <li class=""><a title="" href="/common/loginOut"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
    </ul>
  </div>
  <!--close-top-Header-menu-->
  <!--start-top-serch-->
  <div id="search">
    <input type="text" placeholder="输入搜索内容..."/>
    <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
  </div>
  <!--close-top-serch-->
  <!--sidebar-menu-->
  <div id="sidebar">
    <ul>
      <li class="active"><a href="/common/otherIndex"><i class="icon icon-home"></i> <span>首页</span></a> </li>
      <li shiro:hasRole="admin" class="submenu"> <a href="#"><i class="icon icon-group"></i> <span>人员管理</span> </a>
        <ul>
          <li> <a href="/admin/doctorManage"> <span>医生管理</span></a> </li>
          <li> <a href="/admin/nurseManage"> <span>护士管理</span></a> </li>
          <li> <a href="/admin/adminManage"> <span>Admin管理</span></a> </li>
          <li> <a href="/admin/userManage"> <span>病人管理</span></a> </li>
        </ul>
      </li>
      <li shiro:hasRole="admin" class="submenu"> <a href="#"><i class="icon icon-cogs"></i> <span>其它管理</span> </a>
        <ul>
          <li> <a href="/admin/medicineManage"> <span>药品管理</span></a></li>
          <li> <a href="/admin/departmentManage"> <span>科室管理</span></a></li>
        </ul>
      </li>
      <li shiro:hasRole="admin"><a href="/admin/doctorScheduleManage"><i class="icon icon-edit"></i> <span>医生排班</span> </a></li>
      <li shiro:hasRole="admin"><a href="/admin/rolePermissionManage"><i class="icon icon-lock"></i> <span>角色权限</span> </a></li>
      <li shiro:hasRole="admin"><a href="/admin/recordManage"><i class="icon icon-file"></i> <span>查看记录</span> </a></li>
      <li shiro:hasRole="doctor"><a href="/doctor/currentAppointment"><i class="icon icon-tint"></i> <span>我的预约</span></a></li>
      <li shiro:hasRole="doctor"><a href="/doctor/allAppointment"><i class="icon icon-tint"></i> <span>近期预约</span></a></li>
      <!--<li shiro:hasRole="doctor"><a href="/doctor/addRecord"><i class="icon icon-tint"></i> <span>病历填写</span></a></li>-->
      <li shiro:hasRole="payRoomNurse"><a href="/nurse/showPayPage"><i class="icon icon-tint"></i> <span>病患缴费</span></a></li>
      <li shiro:hasRole="payRoomNurse"><a href="/nurse/makeAppointment"><i class="icon icon-tint"></i> <span>预约挂号</span></a></li>
      <li shiro:hasRole="medicineRoomNurse"><a href="/nurse/showGetMedicinePage"><i class="icon icon-tint"></i> <span>开始配药</span></a></li>
      <li><a href="/common/calendar"><i class="icon icon-bell"></i> <span>日历</span></a></li>
      <li><a href="/common/calendar"><i class="icon icon-info-sign"></i> <span>帮助页面</span> </a></li>
    </ul>
  </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/matrix.js"></script>
</body>
</html>