<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
<title th:text="${title}">首页</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/uniform.css}" />
<link rel="stylesheet" th:href="@{/static/css/select2.css}" />
<link rel="stylesheet" th:href="@{/static/css/matrix-style.css}" />
<link rel="stylesheet" th:href="@{/static/css/matrix-media.css}" />
<link th:href="@{/static/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel='stylesheet' type='text/css'>-->
</head>
<body>
<div class="headerPart" th:replace="common/header::header"></div>
<!--main-container-part-->
<div id="content">

  <div class="container-fluid" style="background: url('/static/assets/images/parallax/slide1.jpg')">
    <h1 style="margin-top: 180px;font-size: 60px;margin-bottom: 50px;color: #FFFFFF;text-align: center;">珠海仁济医院</h1>
    <h2 style="color: #FFFFFF;text-align: center;">开创于2010年10月1日</h2>
    <p style="text-align: center;color: #FFFFFF;font-size: 24px;margin-bottom: 380px;line-height: initial">病人至上，严谨学术，仁德俱全，收费合理！<br>秉承 “ 开拓、进取、务实、创新 ” 的精神，弘扬 “ 人道、博爱、奉献 ” 的红十字精神！<br> 多一声问候，多一份关爱，多一些笑容，多一声祝福！</p>
  </div>
</div>

<!--end-main-container-part-->
<div class="footerPart" th:replace="common/footer::footer"></div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery.ui.custom.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/select2.min.js}"></script>
<script th:src="@{/static/js/matrix.js}"></script>

</body>
</html>
