<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">登录页面</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/matrix-login.css}" />
    <link th:href="@{/static/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
</head>
<body style="margin-top: 5%">
    <div class="logo" style="text-align: center;margin: 40px 10px;">
        <a href="index.html" class="navbar-brand page-scroll">
            <img src="/static/assets/images/logo/logo.png" alt="logo" style="height: 90px;">
            <h4 style="display: inline-block;font-size: 68px;vertical-align: middle;margin-left: 8px;color: #333;">珠海市仁济医院</h4>
        </a>
    </div>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" style="border-top: none;" action="/common/login" method="post">
             <div class="control-group normal_text"> <h3>登 录</h3><h4 th:text="${errorMsg}"></h4></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" name="userIDNum" placeholder="用户名" required>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="userPwd" placeholder="密码" required>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="/guest/resign" class="btn btn-success">去注册</a></span>
                <span class="pull-right"><button type="submit" class="btn btn-success" > 登录</button></span>
            </div>
        </form>
    </div>
    <div class="footerPart" th:replace="common/footer::footer"></div>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/matrix.login.js}"></script>
</body>
</html>
