<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="${title}">科室</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">

    <div class="headerPart" th:replace="guest/header::header"></div>
    <!-- breadcrumbs -->
    <section class="breadcrumbs"  style="background-image: url(/static/assets/images/breadcrumbs/best-room.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">选择科室</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
              <li class="active">科室</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <!-- chose best rooms -->
    <section class="gallery best-room">
      <div class="container">
        <h2 class="h2">请选择要预约的科室</h2>
        <ul class="portfolio-sorting">
          <li><a href="#" data-group="all" class="active">所有</a></li>
          <li><a href="#" th:each="departmentSystem:${departmentSystems}" th:attr="data-group=${departmentSystem}" th:text="${departmentSystem}"></a></li>
        </ul>
      </div>
      <div class="container best-room-carousel">
        <div id="grid" class="row best-room_ul best-rooms-isotope-page">
          <div th:each="department:${departments}" th:attr="data-groups='[&quot;'+${department.departmentSystem}+'&quot;]'" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"th:href="@{/guest/showDepartmentDetail(departmentId=${department.getDepartmentId()})}"><img src="/static/assets/images/best-rooms/1.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a th:href="@{/guest/showDepartmentDetail(departmentId=${department.getDepartmentId()})}"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a th:href="@{/guest/showDepartmentDetail(departmentId=${department.getDepartmentId()})}" th:text="${department.departmentName}"></a></div>
                <div class="best-room_desc" th:text="${department.departmentSymptom}"></div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a th:href="@{/guest/showDepartmentDetail(departmentId=${department.getDepartmentId()})}">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a th:href="@{/guest/choiceDoctorAndDateTime(departmentId=${department.getDepartmentId()})}">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /choose best rooms -->
    <div class="footerPart" th:replace="guest/footer::footer"></div>
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/tether.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery.smartmenus.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery.shuffle.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/main.js"></script>
  <!-- /Scripts -->
</body>
</html>
