<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>科室</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <!-- breadcrumbs -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">选择科室</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
              <li class="active">科室</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <!-- chose best rooms -->
    <section class="gallery best-room">
      <div class="container">
        <h2 class="h2">请选择要预约的科室</h2>
        <ul class="portfolio-sorting">
          <li><a href="#" data-group="all" class="active">所有</a></li>
          <li><a href="#" data-group="double">内科</a></li>
          <li><a href="#" data-group="lux">外科</a></li>
          <li><a href="#" data-group="standard">神经科</a></li>
          <li><a href="#" data-group="economic">妇儿科</a></li>
        </ul>
      </div>
      <div class="container best-room-carousel">
        <div id="grid" class="row best-room_ul best-rooms-isotope-page">
          <div data-groups="[&quot;economic&quot;, &quot;standard&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/1.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">免疫内科</a></div>
                <div class="best-room_desc">风湿性关节炎、类风湿性关节炎、强直性脊柱炎、牛皮藓关节炎、痛风性关节炎、骨性关节炎等各种关节炎、系统性红斑狼疮、皮肌炎、多发性肌炎、系统性硬化、干燥综合症等结缔组织病、大动脉炎、白塞氏病、结节性动脉炎等系统性血管炎</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;double&quot;, &quot;standard&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/4.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">肾内科</a></div>
                <div class="best-room_desc">肾炎、肾病综合症、尿毒症、肾衰等</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;double&quot;, &quot;lux&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/3.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">呼吸内科</a></div>
                <div class="best-room_desc">哮喘、肺炎、肺心病、支气管炎、慢性阻塞性肺疾病、肺结核、肺癌、胸膜炎、感冒、肺栓塞等肺部疾病</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;economic&quot;, &quot;double&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/2.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">心血管内科</a></div>
                <div class="best-room_desc">心绞痛、高血压、猝死、心律失常、心力衰竭、早搏、心律不齐、心肌梗死、心肌病、心肌炎、心肌梗塞等心血管疾病</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;economic&quot;, &quot;lux&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/6.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">内分泌科</a></div>
                <div class="best-room_desc">糖尿病、肥胖症、骨质疏松、痛风、脂质代谢紊乱、甲状腺、垂体、肾上腺、性腺、甲状旁腺等.</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;double&quot;, &quot;standard&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/5.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">消化内科</a></div>
                <div class="best-room_desc">急性腹痛、腹水、消化道出血、食管炎、急性胃炎、功能性便秘、急慢性肠胃炎、胃癌等</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;lux&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/1.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">肿瘤内科</a></div>
                <div class="best-room_desc">各种肿瘤的治疗</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;standard&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/3.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">感染内科</a></div>
                <div class="best-room_desc">乙肝、肝炎、肝硬化、细菌性痢疾等</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>

          <div data-groups="[&quot;economic&quot;]" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="/static/images/best-rooms/2.jpg" alt=""></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="departmentDetail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="departmentDetail.html">神经内科</a></div>
                <div class="best-room_desc">脑血管疾病（脑梗塞、脑出血）、偏头痛、脑部炎症性疾病（脑炎、脑膜炎）、脊髓炎、癫痫、痴呆、神经系统变性病、代谢病、遗传病、三叉神经痛、坐骨神经病、周围神经病（四肢麻木、无力）及重肌无力等</div>
                <div class="best-room_footer">
                  <div class="footer_el __bed"><i class="fa fa-bed"></i>
                    <a href="#">查看详情</a>
                  </div>
                  <div class="footer_el __ppl"><i class="fa fa-user"></i> 
                    <a href="#">确定选择</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /choose best rooms -->
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/tether.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.smartmenus.js"></script>
  <script type="text/javascript" src="/static/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.shuffle.min.js"></script>
  <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- /Scripts -->
</body>
</html>
