<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>科室详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <!-- breadcrumbs -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">科室详情</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">科室</a><i class="fa fa-angle-right"></i></li>
              <li class="active">科室详情</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <!-- room details-->
    <section class="room-detail">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 marg50"><h2 class="h2">科室介绍 - 神经内科</h2></div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="owl-carousel owl_gallery">
              <div class="item"><img class="img-responsive" src="/static/images/best-rooms/1.jpg"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="room-detail_overview">
              <table class="simple">
                <tr>
                  <td><strong>名称:</strong></td>
                  <td>150 sqm</td>
                </tr>
                <tr>
                  <td><strong>所属科系:</strong></td>
                  <td>150 sqm</td>
                </tr>
                <tr>
                  <td><strong>介绍:</strong></td>
                  <td>2 King Beds</td>
                </tr>
                <tr>
                  <td><strong>主治:</strong></td>
                  <td>5 people</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /room details -->
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/tether.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.smartmenus.js"></script>
  <script type="text/javascript" src="/static/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.shuffle.min.js"></script>
  <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- /Scripts -->
</body>
</html>

