<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="${title}">首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">

    <div class="headerPart" th:replace="guest/header::header"></div>

    <!-- parallax -->
    <section class="bg-parallax parallax-window">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="parallax-text">
              <h2 class="parallax_t __white">珠海某某某医院</h2>
              <h2 class="parallax_t __green">开创于2010年10月1日</h2>
              <p>病人至上，严谨学术，仁德俱全，收费合理！秉承 “ 开拓、进取、务实、创新 ” 的精神，弘扬 “ 人道、博爱、奉献 ” 的红十字精神！ 多一声问候，多一份关爱，多一些笑容，多一声祝福！</p>
            </div>
          </div>
          <!-- planner-->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
            <div class="planner-block">
              <form class="form-planner form-horizontal" th:action="@{/users/ShowAppointmentPage}" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>预约日期（年/月/日）</label>
                      <input class="form-control __plannerInput" type="text" placeholder="10-05-2015" name="appointmentDate">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>预约科室</label>
                        <div class="theme-select">
                          <select class="form-control __plannerSelect" title="" name="departmentId">
                            <option value="0">请选择一个科室</option>
                            <option th:each="department:${departments}" th:value="${department.departmentId}" th:text="${department.departmentName}"></option>
                          </select>
                        </div>
                    </div>
                  </div>
                </div>>
                <div class="row">
                  <div class="planner-check-availability">
                    <a href="#" type="submit" class="btn btn-default">快速查询</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- /planner-->
        </div>
      </div>
    </section>
    <!-- /parallax -->
    <!-- chose best rooms -->
    <section class="best-room">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="title-main">
              <h2 class="h2">优秀科室<span class="title-secondary">科室简介</span></h2>
            </div>
            <div class="best-room-carousel">
              <ul class="row best-room_ul">
                <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 best-room_li" th:each="department:${departments}">
                  <div class="best-room_img">
                    <a th:href="@{/users/showDepartmentDetail(departmentId=${department.getDepartmentId()})}" th:text="${department.departmentName}"><img src="/static/images/best-rooms/1.jpg" alt=""></a>
                    <div class="best-room_overlay">
                      <div class="overlay_icn"><a th:href="@{/users/showDepartmentDetail(departmentId=${department.getDepartmentId()})}" th:text="${department.departmentName}"></a></div>
                    </div>
                  </div>
                  <div class="best-room-info" style="padding: 10px;">
                    <div class="best-room_t"><a th:href="@{/users/showDepartmentDetail(departmentId=${department.getDepartmentId()})}" th:text="${department.departmentName}"></a></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="container">
              <div class="title-main"><h2 class="h2">最新公告<span class="title-secondary">即时. 准确. 优惠.</span></h2></div>
              <div class="row" style="text-align: center;">
                <ul>
                  <li><a href="#">中日友好医院网络升级公告</a></li>
                  <li><a href="#">中日友好医院网络升级公告</a></li>
                  <li><a href="#">中日友好医院网络升级公告</a></li>
                  <li><a href="#">中日友好医院网络升级公告</a></li>
                  <li><a href="#">中日友好医院网络升级公告</a></li>
                  <li><a href="#">中日友好医院网络升级公告</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footerPart" th:replace="guest/footer::footer"></div>
  </div>
  <!-- /main wrapper -->
  <!-- Scripts -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/tether.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.smartmenus.js"></script>
  <script type="text/javascript" src="/static/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.shuffle.min.js"></script>
  <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- /Scripts -->
</body>
</html>
