<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>科室</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <!-- breadcrumbs -->
    <section class="breadcrumbs" style="background-image: url(/static/assets/images/breadcrumbs/best-room.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">选择科室</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">科室</a><i class="fa fa-angle-right"></i></li>
              <li class="active">感染内科</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <section class="gallery best-room">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2 class="h2">感染内科</h2></div> 
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <ul id="myTab" class="nav nav-tabs" style="border-bottom: 1px solid #dddddd;">
            <li class="active">
              <a href="#dateTimeSelect" data-toggle="tab">按时间</a>
            </li>
            <li><a href="#doctorSelect" data-toggle="tab">按医生</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="dateTimeSelect">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <ul id="myTab1" class="nav nav-tabs">
                  <li class="active"><a href="#date1" data-toggle="tab">4月1日</a></li>
                  <li><a href="#date2" data-toggle="tab">4月2日</a></li>
                  <li><a href="#date3" data-toggle="tab">4月3日</a></li>
                  <li><a href="#date4" data-toggle="tab">4月4日</a></li>
                  <li><a href="#date5" data-toggle="tab">4月5日</a></li>
                  <li><a href="#date6" data-toggle="tab">4月6日</a></li>
                  <li><a href="#date7" data-toggle="tab">4月7日</a></li>
                </ul>
                <div id="myTabContent1" class="tab-content">
                  <div class="tab-pane fade in active" id="date1">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <div class="media">
                              <a href="#" class="pull-left"><img src="assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                              <div class="media-body">
                                <h4 class="media-heading">哈哈哈 <span style="font-size: 10px;margin-left: 15px;">ssssss</span></h4> 
                                <p class="media-content">请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.</p>
                                <a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">查看排班</a>
                              </div>
                            </div>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                          <div class="panel-body">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                          </table>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <div class="media">
                              <a href="#" class="pull-left"><img src="assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                              <div class="media-body">
                                <h4 class="media-heading">哈哈哈 <span style="font-size: 10px;margin-left: 15px;">ssssss</span></h4> 
                                <p class="media-content">请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.</p>
                                <a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">查看排班</a>
                              </div>
                            </div>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <div class="media">
                              <a href="#" class="pull-left"><img src="assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                              <div class="media-body">
                                <h4 class="media-heading">哈哈哈 <span style="font-size: 10px;margin-left: 15px;">ssssss</span></h4>
                                <p class="media-content">请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.</p>
                                <a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">查看排班</a>
                              </div>
                            </div>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date2">
                    <div class="panel-group" id="accordion2">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" 
                               href="#collapseOne2">
                              点击我进行展开，再次点击我进行折叠。第 1 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse in">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" 
                               href="#collapseTwo2">
                              点击我进行展开，再次点击我进行折叠。第 2 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" 
                               href="#collapseThree2">
                              点击我进行展开，再次点击我进行折叠。第 3 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree2" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date3">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseOne">
                              点击我进行展开，再次点击我进行折叠。第 1 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseTwo">
                              点击我进行展开，再次点击我进行折叠。第 2 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseThree">
                              点击我进行展开，再次点击我进行折叠。第 3 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date4">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseOne">
                              点击我进行展开，再次点击我进行折叠。第 1 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseTwo">
                              点击我进行展开，再次点击我进行折叠。第 2 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseThree">
                              点击我进行展开，再次点击我进行折叠。第 3 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date5">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseOne">
                              点击我进行展开，再次点击我进行折叠。第 1 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseTwo">
                              点击我进行展开，再次点击我进行折叠。第 2 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseThree">
                              点击我进行展开，再次点击我进行折叠。第 3 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date6">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseOne">
                              点击我进行展开，再次点击我进行折叠。第 1 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseTwo">
                              点击我进行展开，再次点击我进行折叠。第 2 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseThree">
                              点击我进行展开，再次点击我进行折叠。第 3 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date7">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseOne">
                              点击我进行展开，再次点击我进行折叠。第 1 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseTwo">
                              点击我进行展开，再次点击我进行折叠。第 2 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                               href="#collapseThree">
                              点击我进行展开，再次点击我进行折叠。第 3 部分
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                            vice lomo.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            </div>
            <div class="tab-pane fade" id="doctorSelect">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <div class="media">
                          <a href="#" class="pull-left"><img src="assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h4 class="media-heading">哈哈哈 <span style="font-size: 10px;margin-left: 15px;">ssssss</span></h4> 
                            <p class="media-content">请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.</p>
                            <a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#doctor1">查看排班</a>
                          </div>
                        </div>
                      </h4>
                    </div>
                    <div id="doctor1" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul id="myTab1" class="nav nav-tabs">
                          <li class="active"><a href="#ddate1" data-toggle="tab">4月1日</a></li>
                          <li><a href="#ddate2" data-toggle="tab">4月2日</a></li>
                          <li><a href="#ddate3" data-toggle="tab">4月3日</a></li>
                          <li><a href="#ddate4" data-toggle="tab">4月4日</a></li>
                          <li><a href="#ddate5" data-toggle="tab">4月5日</a></li>
                          <li><a href="#ddate6" data-toggle="tab">4月6日</a></li>
                          <li><a href="#ddate7" data-toggle="tab">4月7日</a></li>
                        </ul>
                        <div id="myTabContent1" class="tab-content">
                          <div class="tab-pane fade in active" id="ddate1">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate2">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate3">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate4">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate5">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate6">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate7">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <div class="media">
                          <a href="#" class="pull-left"><img src="assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h4 class="media-heading">哈哈哈 <span style="font-size: 10px;margin-left: 15px;">ssssss</span></h4> 
                            <p class="media-content">请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.</p>
                            <a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#doctor2">查看排班</a>
                          </div>
                        </div>
                      </h4>
                    </div>
                    <div id="doctor2" class="panel-collapse collapse">
                      <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                        vice lomo.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <div class="media">
                          <a href="#" class="pull-left"><img src="assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h4 class="media-heading">哈哈哈 <span style="font-size: 10px;margin-left: 15px;">ssssss</span></h4>
                            <p class="media-content">请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.</p>
                            <a class="pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">查看排班</a>
                          </div>
                        </div>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                        vice lomo.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
      </div>
    </section>
    <!-- /choose best rooms -->
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
  <!-- /Scripts -->
</body>
</html>
