<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="${title}">科室</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <div class="headerPart" th:replace="guest/header::header"></div>
    <!-- breadcrumbs -->
    <section class="breadcrumbs" style="background-image: url(/static/assets/images/breadcrumbs/best-room.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">选择医生和预约时间</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">科室</a><i class="fa fa-angle-right"></i></li>
              <li class="active" th:text="${department.departmentName}"></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <section class="gallery best-room">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2 class="h2" id="GetDepartName" th:text="${department.departmentName}"></h2></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <ul id="myTab" class="nav nav-tabs" style="border-bottom: 1px solid #dddddd;">
            <li class="active"><a href="#dateTimeSelect" data-toggle="tab">按时间</a></li>
            <li><a href="#doctorSelect" data-toggle="tab">按医生</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="dateTimeSelect">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <ul id="dateSelectMyTab" class="nav nav-tabs">
                  <li th:each="featureDay:${featureDaysList}" th:class="${featureDayStat.first}?'active'">
                    <a th:href="'#date'+${featureDayStat.count}" th:id="${#strings.substring(featureDay,0,8)}" data-toggle="tab" th:value="${#strings.substring(featureDay,0,8)}" th:text="${#strings.substring(featureDay,9)}"></a>
                  </li>
                </ul>
                <div id="dateSelectMyTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="date1">
                    <div class="panel-group" id="accordion_data1">
                      <div class="panel panel-default" th:each="doctor:${doctors}">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <div class="media">
                              <a href="#" class="pull-left"><img src="/static/assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                              <div class="media-body">
                                <h3 class="media-heading" th:text="${doctor.doctorName}"></h3>
                                <h5 class="media-heading" style="font-size: 10px;margin-left: 15px;" th:text="${doctor.doctorTitle}"></h5>
                                <p class="media-content" th:text="'擅长：'+${doctor.doctorProfession}"></p>
                                <a class="pull-right media_body_a" data-toggle="collapse" data-parent="#accordion_data1" th:href="'#'+${doctor.doctorId}+'_'+${#strings.substring(featureDaysList.get(0),0,8)}">查看排班</a>
                              </div>
                            </div>
                          </h4>
                        </div>
                        <div th:id="${doctor.doctorId}+'_'+${#strings.substring(featureDaysList.get(0),0,8)}" class="panel-collapse collapse">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="date2"></div>
                  <div class="tab-pane fade" id="date3"></div>
                  <div class="tab-pane fade" id="date4"></div>
                  <div class="tab-pane fade" id="date5"></div>
                  <div class="tab-pane fade" id="date6"></div>
                  <div class="tab-pane fade" id="date7"></div>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            </div>
            <div class="tab-pane fade" id="doctorSelect">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default" th:each="doctor1:${doctors1}">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <div class="media">
                          <a href="#" class="pull-left"><img src="/static/assets/images/best-rooms/2.jpg" style="width: 100px;height: 100px;" class="media-object" alt='' /></a>
                          <div class="media-body">
                            <h3 class="media-heading" th:text="${doctor1.departmentName}"></h3>
                            <h5 class="media-heading" style="font-size: 10px;margin-left: 15px;" th:text="${doctor1.doctorTitle}"></h5>
                            <p class="media-content" th:text="'擅长：'+${doctor1.doctorProfession}"></p>
                            <a class="pull-right media_body_a" data-toggle="collapse" data-parent="#accordion" th:href="'#'+${doctor1.doctorId}">查看排班</a>
                          </div>
                        </div>
                      </h4>
                    </div>
                    <div th:id="${doctor1.doctorId}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul id="myTab1" class="nav nav-tabs">
                          <li th:each="featureDay:${featureDaysList}" th:class="${featureDayStat.first}?'active'">
                            <a th:href="'#ddate'+${featureDayStat.count}" data-toggle="tab" th:value="${#strings.substring(featureDay,0,8)}" th:text="${#strings.substring(featureDay,9)}"></a>
                          </li>
                        </ul>
                        <div id="myTabContent1" class="tab-content">
                          <div class="tab-pane fade in active" id="ddate1">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate2">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate3">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate4">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate5">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate6">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="ddate7">
                            <table class="table table-hover" contenteditable="true">
                              <thead>
                                <th>时间</th>
                                <th>剩余</th>
                                <th>操作</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9:00-10:0</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="success">
                                  <td>10:00-11:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">20</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="error">
                                  <td>11:00-12:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">30</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="warning">
                                  <td>14:00-15:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">60</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                                <tr class="info">
                                  <td>15:00-16:00</td>
                                  <td>
                                    <p style="margin-bottom: 0px;"><span class="badge" contenteditable="true">10</span></p>
                                  </td>
                                  <td>
                                    <button type="submit" class="btn btn-min">确定</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
      </div>
    </section>
    <!-- /choose best rooms -->
    <div class="footerPart" th:replace="guest/footer::footer"></div>
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $("#dateSelectMyTab > li").click(function () {
              var aValue = $(this).children().attr("value");
              var aHref = $(this).children().attr("href");
              alert(aValue+aHref);
              doctorVal(aValue,aHref);
          });
          $("#dateSelectMyTabContent").on('click','.media-body',function () {
              var hrefVal = $(this).children(".media_body_a").attr("href");
              var count = $(this).attr("id");
              scheduleVal(hrefVal);
          })
      });
      function doctorVal(aValue,aHref) {
          var departmentName = $('#GetDepartName').text();
          $.ajax({
              url: '/guest/initDoctorMsg',
              data: {
                  currentDay: aValue,
                  departmentName: departmentName
              },
              type: 'post',
              dataType: 'TEXT',
              success: function (data) {
                  var str = "<div class='panel-group' id='accordion_"+aValue+"'>";
                  $.each($.parseJSON(data), function (n,datelist) {
                    str += "<div class='panel panel-default'>"+
                            "<div class='panel-heading'>"+
                              "<h4 class='panel-title'>"+
                                "<div class='media'>"+
                                  "<a href='#' class='pull-left'><img src='/static/assets/images/best-rooms/2.jpg' style='width: 100px;height: 100px;' class='media-object' alt='' /></a>"+
                                  "<div class='media-body'>"+
                                    "<h4 class='media-heading'>"+datelist.doctorName+"<span style='font-size: 10px;margin-left: 15px;'>"+datelist.doctorTitle+"</span></h4>"+
                                    "<p class='media-content'>"+"擅长："+datelist.doctorProfession+"</p>"+
                                    "<a class='pull-right media_body_a' data-toggle='collapse' data-parent='accordion_"+aValue+"' href='#"+datelist.doctorId+"_"+aValue+"'>查看排班</a>"+
                                  "</div>"+
                                "</div>"+
                              "</h4>"+
                            "</div>"+
                            "<div class='panel-collapse collapse' id='"+datelist.doctorId+"_"+aValue+"'>"+
                            "</div>"+
                          "</div>";
                  });
                  str += "</div>"
                  $(aHref).html(str);
                  // $(".media-body").on('click',function () {
                  //     var hrefVal = $(this).children(".media_body_a").attr("href");
                  //     scheduleVal(hrefVal);
                  // })
              },
              error: function (err) {
                  alert("error!!")
              }
          });
      }
      function scheduleVal(hrefVal) {
          var doctorId = hrefVal.substr(1,hrefVal.lastIndexOf("_")-1);
          var currentDay = hrefVal.substr(hrefVal.lastIndexOf("_")+1);
          $.ajax({
              url: '/guest/initScheduleMsg',
              data: {
                  currentDay: currentDay,
                  doctorId: doctorId
              },
              type: 'post',
              dataType: 'TEXT',
              success: function (data) {
                  var str = "<div class='panel-body'>"+
                      "<table class='table table-hover' contenteditable='false'>"+
                        "<thead><th>时间</th><th>剩余</th><th>操作</th></thead>"+
                        "<tbody>";
                  $.each($.parseJSON(data), function (n,datelist) {
                      var timeStr = "";
                      switch (datelist.workTime){
                          case 1:
                              timeStr = "9:00-10:00";
                              break;
                          case 2:
                              timeStr = "10:00-11:00";
                              break;
                          case 3:
                              timeStr = "11:00-12:00";
                              break;
                          case 4:
                              timeStr = "14:00-15:00";
                              break;
                          case 5:
                              timeStr = "15:00-16:00";
                              break;
                          case 6:
                              timeStr = "16:00-17:00";
                              break;
                          default:
                              break;
                      }
                      str +="<tr>"+
                              "<td>"+timeStr+"</td>"+
                              "<td><p style='margin-bottom: 0;'><span class='badge' contenteditable='true'>"+datelist.remain+"</span></p></td>"+
                              "<td><a href='/users/ShowAppointmentPage?doctorId="+datelist.doctorId+"&departmentName="+datelist.departmentName+"&appointmentTime="+datelist.workDate+"_"+datelist.workTime+"' class='btn btn-success'>预约</a></td>"+
                            "</tr>";
                  });
                  str += "</tbody></table></div>";
                  $(hrefVal).html(str);
              },
              error: function (err) {
                  alert("error!!")
              }
          });
      }
  </script>
  <!-- /Scripts -->
</body>
</html>
