<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>预约</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <!-- breadcrumbs -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">预约</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">首页</a><i class="fa fa-angle-right"></i></li>
              <li class="active">预约</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <section class="contact-block">
      <div class="container">
        <div class="contact-block_form">
          <div class="row marg50">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2 class="h2">请填写预约信息</h2></div> 
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-11 col-xs-11">
              <form action="" method="POST" class="form-horizontal form-wizzard">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="text" name="userName" class="form-control" placeholder="姓名" disabled>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="text" name="userSex" class="form-control" placeholder="性别" disabled>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="text" name="userAge" class="form-control" placeholder="年龄" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="tel" name="userPhone" class="form-control" placeholder="电话" disabled>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="text" name="userAddress" class="form-control" placeholder="住址" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="text" name="emergencyContact" class="form-control" placeholder="紧急联系人">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <input type="tel" name="emergContPhone" class="form-control" placeholder="紧急联系人电话">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="theme-select">
                      <select class="form-control __plannerSelect" title="科室">
                        <option value="">请选择一个科室</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="theme-select">
                      <select class="form-control __plannerSelect">
                        <option value="">请选择一个医生</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="theme-select">
                      <select class="form-control __plannerSelect">
                        <option value="">请选择一个时间</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center">
                  <input type="submit" value="确定" class="btn btn-default">
                </div>
              </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
          </div>
        </div>
      </div>
    </section>
  <!-- /main wrapper -->
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/tether.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.smartmenus.js"></script>
  <script type="text/javascript" src="/static/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.shuffle.min.js"></script>
  <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- /Scripts -->
</body>
</html>
