<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="${title}">预约</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
  <style type="text/css">
    .table td, th{
      text-align: center;
    }
  </style>
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <div class="headerPart" th:replace="guest/header::header"></div>
    <!-- breadcrumbs -->
    <section class="breadcrumbs" style="background-image: url(/static/assets/images/breadcrumbs/best-room.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">预约</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="/common/index">首页</a><i class="fa fa-angle-right"></i></li>
              <li class="active">预约</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /breadcrumbs -->
    <section class="contact-block">
      <div class="container">
        <div class="contact-block_form">
          <div class="row marg50">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2 class="h2">请确认预约信息</h2></div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-11 col-xs-11">
              <table class="table table-striped">
                <tbody>
                <tr><th>姓名：</th><td th:text="${user.userName}"></td></tr>
                <tr><th>性别：</th><td th:text="${user.userSex}"></td></tr>
                <tr><th>年龄：</th><td th:text="${user.userAge}"></td></tr>
                <tr><th>电话：</th><td th:text="${user.userPhone}"></td></tr>
                <tr><th>住址：</th><td th:text="${user.userAddress}"></td></tr>
                <tr><th>科室：</th><td th:text="${department.departmentName}"></td></tr>
                <tr><th>医生：</th><td th:text="${doctor.doctorName}"></td></tr>
                <tr><th>预约时间：</th><td th:text="${appoint}"></td></tr>
                <tr><td colspan="2"><a th:href="@{/users/makeAppointment(userId=${user.userId},doctorId=${doctor.doctorId},departmentId=${department.departmentId},appointmentTime=${appoint})}" class="btn btn-default">确定</a></td></tr>
                </tbody>
              </table>
                <!--<div class="row">-->
                  <!--<div class="form-group">-->
                    <!--<div class="theme-select">-->
                      <!--<select id="selectDepartment" class="form-control __plannerSelect" title="科室" th:field="*{departmentId}">-->
                        <!--<option value="0">请选择一个科室</option>-->
                        <!--<option th:each="department:${departments}" th:value="${department.departmentName}" th:text="${department.departmentName}"></option>-->
                      <!--</select>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<table class="table table-striped">-->
                  <!--<thead>-->
                    <!--<tr>-->
                      <!--<td>姓名</td>-->
                      <!--<td>主治</td>-->
                      <!--<td>从医年限</td>-->
                      <!--<td>职位</td>-->
                      <!--<td>介绍</td>-->
                    <!--</tr>-->
                  <!--</thead>-->
                  <!--<tbody id="tbodyData"></tbody>-->
                <!--</table>-->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
          </div>
        </div>
      </div>
    </section>
  <!-- /main wrapper -->
    <div class="footerPart" th:replace="guest/footer::footer"></div>
  </div>
  <!-- Scripts -->
  <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $("#selectDepartment").change(function () {
              doctorVal();
          });
      });
      function doctorVal() {
          var departmentName = $('#selectDepartment').val();
          $.ajax({
              url: '/users/findDoctor',
              data: {
                  departmentName: departmentName
              },
              type: 'post',
              dataType: 'TEXT',
              success: function (data) {
                  var str = "";
                  $.each($.parseJSON(data), function (n,datelist) {
                      str+="<tr>"+
                          "<td>"+datelist.doctorName+"</td>"+
                          "<td>"+datelist.doctorProfession+"</td>"+
                          "<td>"+datelist.doctorMedicalServiceLife+"</td>"+
                          "<td>"+datelist.doctorTitle+"</td>"+
                          "<td>"+datelist.doctorIntroduction+"</td>"+
                          "</tr>";
                  });
                  document.getElementById("tbodyData").innerHTML=str;
              },
              error: function (err) {}
          });
      }
  </script>
  <!-- /Scripts -->
</body>
</html>
