<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>预约挂号</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />

<link rel="stylesheet" href="/static/css/uniform.css" />
<link rel="stylesheet" href="/static/css/select2.css" />

<link rel="stylesheet" href="/static/css/matrix-style.css" />
<link rel="stylesheet" href="/static/css/matrix-media.css" />
<link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="headerPart" th:replace="common/header::header"></div>
<div id="content">
	<div id="content-header">
		<div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">预约挂号</a></div>
		<h1>选择科室</h1>
	</div>
	<div class="container-fluid">
	    <hr>
	    <div class="row-fluid">
	    	<div class="span12">
			    <div class="widget-box">
			      	<div class="widget-title">
				      	<span class="icon"><i class="icon-th"></i></span>
				        <h5>所有科室</h5>
			      	</div>
			      	<div class="widget-content nopadding">
				        <table class="table table-bordered data-table">
				        	<thead>
					            <tr>
									<th>科室</th>
									<th>所属</th>
									<th>名称</th>
									<th>操作</th>
					            </tr>
				          	</thead>
				          	<tbody>
					            <tr th:each="department:${departments}">
									<td th:text="${departmentStat.count}"></td>
									<td th:text="${department.departmentSystem}"></td>
									<td th:text="${department.departmentName}"></td>
									<td>
				        				<a th:href="@{/nurse/choiceDoctor(departmentId=${department.getDepartmentId()})}" class="btn btn-success btn-mini">选择</a>
					            	</td>
					            </tr>
				          	</tbody>
				        </table>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footerPart" th:replace="common/footer::footer"></div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.toggle.buttons.html"></script>
<script src="/static/js/masked.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/matrix.tables.js"></script>
</body>
</html>
