<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
  <title>病历填写页面</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style type="text/css">
    .btn-li{
      float: left;
      margin-right: 15px;
    }
    .under-line {
      border-bottom: solid 1px black;
      color: blue;
      letter-spacing: 1px;
      width: 120px;
      text-align: center;
    }
    .td_header{
      border: none;
      width: 70px;
      text-align: center;
    }
    #writehere{
      height: 500px;
      text-align: center;
      padding-top: 70px;
      font-size: 15px;
      line-height: 30px;
    }
    #symptom{
      resize: none;
      width: -webkit-fill-available;
      margin-bottom: 0;
      height: 100px;
    }
    #diagnostic{
      margin-bottom: auto;
      width: -webkit-fill-available;
      border: none;
      background-color: #f9f9f9;
    }
  </style>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/static/css/uniform.css" />
  <link rel="stylesheet" href="/static/css/select2.css" />
  <link rel="stylesheet" href="/static/css/matrix-style.css" />
  <link rel="stylesheet" href="/static/css/matrix-media.css" />
  <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="headerPart" th:replace="common/header::header"></div>
  <div id="content">
    <div id="content-header">
      <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="tip-bottom">病历</a> </div>
      <span id="appointmentId" th:text="${appointmentId}" hidden></span>
    </div>
    <div class="container-fluid">
      <div>
        <ul style="list-style: none;">
          <li class="btn-li" id="saveRecord"> <a href="#" class="btn btn-info"> <i class="icon-save"></i> 保存</a> </li>
          <li class="btn-li"> <a href="#" class="btn btn-info"> <i class="icon-print"></i> 打印</a> </li>
          <li class="btn-li" id="showRecord"> <a href="#" class="btn btn-info" data-toggle="modal" data-target="#myModal"> <i class="icon-folder-open"></i> 病历</a> </li>
          <li class="btn-li"> <a href="#" class="btn btn-info"> <i class="icon-question-sign"></i> 帮助</a> </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span5">
          <div class="widget-box">
            <div class="widget-content nopadding">
              <h3 class="text-center" style="letter-spacing:30px;">珠海市仁济医院</h3>
              <h4 class="text-center" style="letter-spacing:30px;">处方笺</h4>
              <table style="border-collapse: inherit;width: -webkit-fill-available;padding-right: 15px;padding-bottom: 15px;">
                <tr>
                  <td class="td_header">姓名:</td>
                  <td id="userN" th:text="${users.userId}" hidden></td>
                  <td class="under-line"  th:text="${users.userName}"></td>
                  <td class="td_header">性别:</td>
                  <td class="under-line" th:text="${users.userSex}"></td>
                  <td class="td_header">年龄:</td>
                  <td class="under-line" th:text="${users.userAge}"></td>
                </tr>
                <tr>
                  <td class="td_header">地址(电话):</td>
                  <td colspan="3" class="under-line" th:text="${users.userAddress}"></td>
                  <td class="td_header">日期:</td>
                  <td class="under-line" th:text="${#dates.format(currentDate,'yyyy-MM-dd')}"></td>
                </tr>
                <tr>
                  <td class="td_header">诊断:</td>
                  <td colspan="5" class="under-line">
                    <input id="diagnostic" type="text" title="诊断"/>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;vertical-align: top;"><h3>Rp</h3></td>
                  <td colspan="5" style="vertical-align: initial;" id="writehere"></td>
                </tr>
                <tr>
                  <td class="td_header">医师:</td>
                  <td class="under-line"><shiro:principal property="userName" /></td>
                  <td class="td_header">配药:</td>
                  <td class="under-line"></td>
                  <td class="td_header">复核:</td>
                  <td class="under-line"></td>
                </tr>
                <tr>
                  <td class="td_header">药费:</td>
                  <td class="under-line"></td>
                  <td class="td_header">其它:</td>
                  <td class="under-line"></td>
                  <td class="td_header">合计:</td>
                  <td class="under-line"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="span7">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
              <h5>药品选择</h5>
              <button style="margin: 3px;" class="btn btn-info pull-right" id="submitMedicine">发药</button>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>名称</th>
                  <th>数量</th>
                  <th>单位</th>
                  <th>库存</th>
                  <th colspan="3">用法</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbodyhere"></tbody>
              </table>
            </div>
          </div>
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
              <h5>主要症状</h5>
            </div>
            <div class="widget-content nopadding">
              <textarea id="symptom"></textarea>
            </div>
          </div>
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
              <h5>药品筛选</h5>
            </div>
            <div id="taozu" class="widget-content nopadding">
              <button type="button" class="btn btn-info">全部药品</button>
              <button type="button" class="btn btn-info" th:text="${departmentName}"></button>
              <button type="button" class="btn btn-default">抗生素</button>
              <button type="button" class="btn btn-default">心血管</button>
              <button type="button" class="btn btn-default">呼吸</button>
              <button type="button" class="btn btn-default">消化</button>
              <button type="button" class="btn btn-default">解热解毒</button>
              <button type="button" class="btn btn-default">维生素</button>
              <button type="button" class="btn btn-default">外用</button>
              <button type="button" class="btn btn-default">内服</button>
            </div>
          </div>
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
              <h5>药品查询</h5>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered data-table">
                <thead>
                  <tr>
                    <th>药物名称</th>
                    <th hidden>药物单位</th>
                    <th hidden>药物单价</th>
                    <th hidden>药物库存</th>
                    <th hidden>药物类型</th>
                    <th>药物规格</th>
                    <th>生产公司名称</th>
                  </tr>
                </thead>
                <tbody id="tablehere">
                  <tr th:each="medicine:${medicines}" th:id="${medicine.medicineId}">
                    <td th:text="${medicine.medicineName}"></td>
                    <td th:text="${medicine.medicineUnit}" hidden></td>
                    <td th:text="${medicine.medicinePrice}" hidden></td>
                    <td th:text="${medicine.medicineResidual}" hidden></td>
                    <td th:text="${medicine.medicineType}" hidden></td>
                    <td th:text="${medicine.medicineDosage}"></td>
                    <td th:text="${medicine.companyName}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
         <!--模态框（Modal）-->
        <div class="modal fade" style="width: 750px;display: none;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">历史病历</h4>
              </div>
              <div class="modal-body">
                <div style="margin-bottom: 40px;" th:each="record:${records}">
                    <table class="table table-bordered">
                      <tbody>
                      <tr>
                        <td class="bgcol">就诊时间</td><td colspan="2" th:text="${#dates.format(record.recordCreatedTime, 'yyyy-MM-dd')}"></td>
                        <td class="bgcol">就诊医生</td><td colspan="2" th:text="${record.doctorId}"></td>
                      </tr>
                      <tr>
                        <td class="bgcol">诊断结果</td><td th:text="${record.diagnosticResult}"></td>
                        <td class="bgcol">主要症状</td><td colspan="3" th:text="${record.symptom}"></td>
                      </tr>
                      <tr>
                        <td class="bgcol">药品</td>
                        <td class="bgcol">名称</td>
                        <td class="bgcol">生产公司</td>
                        <td class="bgcol">服用频率</td>
                        <td class="bgcol">单次使用量</td>
                        <td class="bgcol">服用方法</td>
                      </tr>
                      <tr th:each="prescription:${record.getPrescriptions()}">
                        <td th:text="${prescriptionStat.count}"></td>
                        <td th:text="${prescription.medicine.medicineName}"></td>
                        <td th:text="${prescription.medicine.companyName}"></td>
                        <td th:text="${prescription.prescriptionDosage}"></td>
                        <td th:text="${prescription.dosageEachTime}"></td>
                        <td th:text="${prescription.prescriptionUsage}"></td>
                      </tr>
                      </tbody>
                    </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal -->
        </div>
      </div>
    </div>
  </div>
<div class="footerPart" th:replace="common/footer::footer"></div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/matrix.tables.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("body").delegate('#tablehere tr', 'dblclick',function(){

            var str ="";
            var medicineId = $(this).attr("id");
            var medicineName = $(this).children("td").eq(0).text();
            var medicineUnit = $(this).children("td").eq(1).text();
            var medicinePrice = $(this).children("td").eq(2).text();
            var medicineResidual = $(this).children("td").eq(3).text();
            var medicineType = $(this).children("td").eq(4).text();
            var medicineDosage = $(this).children("td").eq(5).text();

            str += "<tr><td>"+medicineName+"</td><td contenteditable='true'></td><td hidden>"+medicineDosage+"</td><td>"+medicineUnit+"</td><td>"+medicineResidual+"</td>"+
                  "<td><input style=';width: 50px;margin-bottom: 0;' type='text' name='medicineCount'></td>"+
                  "<td><select style='border: none;width: 110px;margin-bottom: 0;' name='prescriptionDosage'>" +
                      "<option value='每日1次'>每日1次</option><option value='每日2次'>每日2次</option><option value='每日3次'>每日3次</option>"+
                      "<option value='每日4次'>每日4次</option><option value='隔日1次'>隔日1次</option><option value='每2小时1次'>每2小时1次</option>"+
                      "<option value='早晨'>早晨</option><option value='晚上'>晚上</option><option value='睡前'>睡前</option>"+
                      "<option value='饭前'>饭前</option><option value='饭后'>饭后</option><option value='空腹'>空腹</option>"+
                  "</select></td>"+
                  "<td><select style='border: none;width: 100px;margin-bottom: 0;' name='prescriptionUsage'>" +
                      "<option value='外用'>外用</option><option value='口服'>口服</option><option value='灌肠'>灌肠</option>"+
                      "<option value='需要时'>需要时</option><option value='必要时'>必要时</option><option value='皮下注射'>皮下注射</option>"+
                      "<option value='肌肉注射'>肌肉注射</option><option value='静脉注射'>静脉注射</option><option value='静脉滴注'>静脉滴注</option>"+
                  "</select></td>"+
                  "<td hidden>"+medicineId+"</td>"+
                  "<td><button id='del"+medicineId+"' class='btn btn-danger btn-mini'>删除</button></td>"+
                "</tr>";
            $('#tbodyhere').append(str);
            $("#tbodyhere button").on('click',function () {
                var obj = "#"+$(this).attr("id");
                console.log(obj);
                $(obj).parent().parent("tr").remove();
            })
        });
        $("#submitMedicine").on('click',function () {
            var str = "";
            $("#tbodyhere").children("tr").each(function () {
                str += $(this).children("td").eq(0).text()+"&nbsp;"+$(this).children("td").eq(2).text()+"&nbsp;"+$(this).children("td").eq(1).text()+$(this).children("td").eq(3).text()+"<br/>"+
                    "&nbsp;&nbsp;&nbsp;&nbsp;用法：&nbsp;" + $(this).children("td").eq(5).children("input").val()+$(this).children("td").eq(3).text()+ "&nbsp;" +$(this).children("td").eq(6).children("select").val()+
                    "&nbsp;" +$(this).children("td").eq(7).children("select").val()+"<br/><br/>";
            });
            $('#writehere').html(str);
        });
        $("#saveRecord").on('click',function (){
            var appointmentId = $("#appointmentId").text();
            var symptom = $("#symptom").val();
            var diagnostic = $("#diagnostic").val();
            var userId = $("#userN").text();
            var prescriptions = new Array();
            $("#tbodyhere").children("tr").each(function () {
                var prescription = [$(this).children("td").eq(8).text(),$(this).children("td").eq(1).text(),
                    $(this).children("td").eq(3).text(), $(this).children("td").eq(5).children("input").val(),
                    $(this).children("td").eq(6).children("select").val(),$(this).children("td").eq(7).children("select").val()]
                prescriptions.push(prescription);
            });
            $.ajax({
              type: "POST",
              url: '/doctor/addRecordAndPrescription',
              async: false,
              data: {
                  appointmentId: appointmentId,
                  symptom : symptom,
                  diagnostic : diagnostic,
                  userId : userId,
                  prescriptions : JSON.stringify(prescriptions)
              },
                dataType: 'json',
              success:function(msg) {
                  if (msg == 1) {//根据返回值进行跳转
                      window.location.href = '/doctor/currentAppointment';
                  }else {
                      alert("跳转失败！");
                  }
              },
              error:function () {
                  alert("error!!")
              }
            })
        });
        $("#taozu button").on('click',function () {
            var condition = $(this).text();
            console.log(condition);
            if (condition == "全部药品"){
                condition = "";
            }
            $("#DataTables_Table_0_filter input").val(condition);
            $("#DataTables_Table_0_filter input").keyup();
        })
    })
</script>
</body>
</html>
